* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin: 15px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: auto;
}

input {
  margin: 5px auto;
  width: 150px;
}

select {
  margin: 10px auto;
  width: 150px;
}

button {
  transition-duration: 0.4s;
  margin: 10px auto;
  cursor: pointer;
  font-weight: bold;
  width: 80px;
  height: 50px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: lightblue;
  font-size: 1rem;
}

button:active {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

h3 {
  margin: 5px auto;
}
